<!doctype html>
<html>
<body>
    <div id="log"></div>
    <br>
    <form id="form">
        <label for="text">Input: </label>
        <input type="text" id="text" autofocus>
    </form>
    <script>
        const deviceId = Math.random();

        const log = (text, color) => {
            document.getElementById('log').innerHTML += `<span style="color: ${color}">${text}</span><br>`;
        };

        const socketPath = localStorage.getItem('socketPath') || 'ws://localhost:5000/'

        const socket = new WebSocket(socketPath);
        socket.addEventListener('message', (ev) => {
            const data = JSON.parse(ev.data);
            log('<<< ' + data.value, 'blue');
        });
        document.getElementById('form').onsubmit = ev => {
            ev.preventDefault();
            const textField = document.getElementById('text');
            const value = textField.value;
            textField.value = '';

            log('>>> ' + value, 'red');
            socket.send(JSON.stringify({value, deviceId, username: 'default'}));
        };
    </script>
</body>

</html>
